@charset "utf-8";
*{ margin: 0;padding: 0; }
body{ background:url(../images/bg.png); font-size: 12px; }
li{ list-style: none; }
a{ text-decoration: none; color:#8F8F8F;}

.container{width: 960px; margin: 0 auto;}

.clearfix{ overflow: hidden; z-hoom:-2px; }




.header .top{border-bottom: 1px #d1d0d0 solid; background-color: #f8f8f8; height: 35px;line-height: 35px; color: #8F8F8F;}
.top span{ padding-right: 10px;  }


.header .logo{ float: left;}
.header .logo h1{ background: url(../images/logo.png) no-repeat; margin: 40px 0; }
.header .logo h1 a{ width: 176px;height: 54px; display: block; text-indent: -999px; }

.header .search{ margin: 40px 80px; float: left;}
.header .search form{ margin-bottom: 10px;}
.header .search .text{ width: 370px; border: #015C5C 3px solid; height: 36px;}
.header .search .btn{ padding: 9px 15px 12px; border: #015C5C 1px solid; background: #015C5C; color: #fff; font-size: 16px;}
.header .search p{ float: left; color: #8F8F8F;}
.header .search li{float: left; padding-right: 10px; }
.header .search li a:hover{ color: red;  }

.header .tel{ float: right; background: url(../images/telbg.png) no-repeat 0 40px ; width: 165px;height: 54px; padding-top: 60px; padding-right: 10px;}
.header .tel p{ font-size: 22px; color: #f75d00; font-weight: bold; }

.header .nav{ background:#015C5C;}
.header .nav li{ float: left; width: 135px; height: 45px;}
.header .nav li a{ width: 135px; height: 45px;line-height: 45px; text-align: center; display: block; color: #fff;}
.active{ background: url(../images/active.png) no-repeat; }

.banner img{ width:100%; margin-bottom: 20px;}

.we{ margin-bottom: 20px; }
.we h1{background: #E7E7E7; font-size: 20px; padding:0 10px 10px 10px;}
.we h1 span{ font-size: 14px; float: right; color: #f00; padding-top: 10px;}

.company{ width: 280px; border:10px #E7E7E7 solid; background: #fff; height: 248px; font-family: "微软雅黑";}
.company p{ font-size: 12px; line-height: 2em; padding: 10px; text-indent: 2em; text-align: justify;}

.company,.file,.zhuangxiu{ float: left; margin-right: 20px;}



.zhuangxiu{width: 280px; border:10px #E7E7E7 solid; background: #fff; height: 248px; font-family: "微软雅黑";}
.zhuangxiu li{ font-size: 12px; line-height: 1em; padding: 20px 10px 0;}
.zhuangxiu li span{ float: right; }

.navs{ background: #015a5a; height: 39px; line-height: 39px;}
.navs h2{ float: left; font-size: 20px; color: #fff;}
.navs ul{ float: right; }
.navs li{ float: left; font-size: 12px; }
.navs li a{ color: #fff; border-right: 1px #fff solid; margin:0 5px; padding-right: 5px;}

.product { background: #fff; }
.product dl{ float: left; margin: 15px 10px;}
.product dd{ text-align: center; }


.news{ margin-top: 20px; margin-bottom: 20px; }
.news h1{ font-size: 20px; padding:0 10px 10px 10px; }
.news h1 span{  font-size: 14px; float: right; color: #f00; padding-top: 10px;}
.news img{ padding-left: 8px; }
.news ul{ padding: 10px 5px; }
.news li{ line-height: 1em; padding: 8px 0;}
.news li span{ float: right; }
.pinjia, .cnew, .hnew{ float: left; width: 300px; background: #fff; height: 250px; margin:0 10px; padding-top: 10px;}


.footer {background: #015a5a; color:#fff;}
.footer .one{ float: left; margin: 35px 10px;}
.footer .one h1{ font-size: 36px; color:#fff; width: 200px;}
.footer span{ font-size: 14px;}
.footer .two{ float: right; margin: 40px 10px;}
.two li{ float: left; font-size: 12px; border-right: 1px #fff solid; margin:0 5px; padding-right: 5px;}
.two a{ color:#fff; }
.two a:hover{ color: red; }
.two p{ float: right; padding-top: 10px; }





